@red:#ff0000;
@orange:#fba207;
@yellow:#ffff00;
@green:#3cb371;
@cyan:#00ffff;
@blue:#0b99ff;
@purple:#800080;
@gray:#808080;
@white:#ffffff;
@black:#000000;
//主题色
@theme-color:#fb7299;
//主题高亮色
@theme-light-color:darken(@theme-color,-20%);
@disabled-color:darken(@theme-color,-15%);
@tag-color:darken(@theme-color, -45%);
//主题背景颜色
@theme-background-color:#e4e7ee;

@font-color-dark:rgba(0,0,0,.87);
@font-color-dark-fade:rgba(0,0,0,.54);
@font-color-dark-disabled:rgba(0,0,0,.26);
@font-color-dark-line:rgba(0,0,0,.12);

@font-color-light:rgba(255,255,255,1);
@font-color-light-fade:rgba(255,255,255,.7);
@font-color-light-disabled:rgba(255,255,255,.3);
@font-color-light-line:rgba(255,255,255,.12);

@icon-color-dark:rgba(0,0,0,.54);
@icon-color-dark-disabled:rgba(0,0,0,.26);

@icon-color-light:rgba(0,0,0,1);
@icon-color-light-disabled:rgba(0,0,0,.30);

@box-disabled-color:#e4e7ee;
@box-border-color:#ccc;

@female-color:@theme-color;
@male-color:@blue;
