//可视区域
@visual-width: 1120px;
//窗口最小宽度
@window-min-width: 1200px;
@default-padding: 15px;
@default-margin: 15px;

@small-font-size:12px;
@default-font-size:14px;
@big-font-size:18px;
@medium-font-size:16px;

@smallest-border-radius:2px;
@small-border-radius:4px;
@default-border-radius:6px;
@big-border-radius:8px;
@medium-border-radius:10px;

//栅格宽度
@grid-lg-width:1200px;
@grid-md-width:992px;
@grid-sm-width:768px;
@grid-xs-width:768px;

//输入框和按钮的行高
@input-line-height:35px;
@small-input-line-height:25px;

//栅格一个列的宽度
@grid-column-width: 3.3333333%;

//默认的动画时间
@default-animate-time: .5s;
//短动画时间
@short-animate-time: .2s;

@herder-height:60px;
@herder-nav-height:58px;
@herder-border-height:1px;

@mask-index:2000;




