//可视区域
@visual-width: 1120px;
//窗口最小宽度
@window-min-width: 1200px;
@default-padding: 15px;
@default-margin: 15px;

@default-font-size:14px;
@big-font-size:18px;
@small-font-size:12px;

//栅格宽度
@grid-lg-width:1200px;
@grid-md-width:992px;
@grid-sm-width:768px;
@grid-xs-width:768px;

//栅格一个列的宽度
@grid-column-width: 3.3333333%;

//默认的动画时间
@default-animate-time: .2s;

